<!-- macro that will automatically create a form-->
{% macro render_field(field) %}
    <div class="control-group">
        {% if field.widget.input_type != 'checkbox' %}
            {{ field.label(**{'class':'control-label', 'for': field.name }) }}
            {{ field(**{'class': 'form-control', 'data-bind': 'value: ' + field.name, 'placeholder': field.label.text })|safe }}
        {% else %}
            <div class="checkbox">
                <label>
                    {{ field(**{'data-bind': 'checked: ' + field.name })|safe }}
                    {{ field.label }}
                </label>
            </div>
        {% endif %}
    </div>
{% endmacro %}

{%  macro flash_messages() %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul style="list-style-type: none;">
                {% for message in messages %}
                    <li class="alert">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
{% endmacro %}