{% from 'macros.html' import render_field %}
<!DOCTYPE html>
<html>
<head lang="en">
    <title>{% if params.title %}{{ params.title }} - {% endif %}XDR Flask Server</title>
</head>
<body>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class=flashes>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
<form method="post" autocomplete="off" action="">
    {% for field in form if field.widget.input_type != 'hidden' %}
        {{ render_field(field) }}
    {% endfor %}
<input type="submit" value="add">
</form>
</body>
</html>