body {
    font-family: Tahoma,Geneva,sans-serif;
}

#apps_table td.success > span.label, #apps_table td.default > span.label {
    color: black;
}

#apps_table td.success {
    border-radius: 5px;
}

.table > tbody > tr > td {
    vertical-align: middle;
}

div.long_cell {
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 300px;
}

#navbar_main_menu > ul > li {
    margin: 0 5px;
}

#pingpong {
    padding: 10px;
}

#pingpong-text {
    width: 100%;
}

#header-user {
    float: right;
    width: auto;
}
